.contacts-page {
    padding: 70px 0;
}

.contact-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #0B2A4A;
    margin-bottom: 10px;
}

.contact-subtitle {
    text-align: center;
    max-width: 600px;
    margin: 0 auto 50px;
    color: #2E4E6D;
    font-size: 17px;
}

.contacts-info {
    margin-top: 60px;
}

.contacts-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 120px;
    max-width: 900px;
    margin: 0 auto;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-item img {
    width: 70px;
    height: 70px;
}

.contact-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #0B2A4A;
    margin: 0;
}

.contact-item p {
    margin: 5px 0 0;
    font-size: 16px;
    color: #2E4E6D;
}

.form-title {
    text-align: center;
    font-size: 24px;
    color: #0B2A4A;
    margin-bottom: 25px;
    margin-top: 80px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto 60px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 14px 16px;
    border: 1px solid #C9DCE0;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    font-family: inherit;
}

.contact-form textarea {
    min-height: 110px;
    resize: none;
}

.contact-form button {
    background: #00A6A6;
    color: #fff;
    padding: 12px;
    border-radius: 10px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    transition: .25s;
}

.contact-form button:hover {
    background: #008B8B;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    font-family: inherit;
    color: #5b5b5b;
}

.form-success {
    background-color: #00a6a6;
    color: white;
    padding: 18px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.error {
    color: #d92027;
    font-size: 14px;
    margin: 6px 0 -5px;
    display: none;
}

.contact-form input.error-field,
.contact-form textarea.error-field {
    border: 2px solid #d92027;
}

.contact-quote {
    text-align: center;
    margin-top: 70px;
    margin-bottom: -50px;
    font-size: 18px;
    font-weight: 500;
    color: #0B2A4A;
    font-style: italic;
    opacity: 0.85;
}