/* =============== БАЗА =============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #F8FAFB;
    color: #0B2A4A;
    line-height: 1.55;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

/* =============== ХЕДЕР =============== */
header {
    background: #F8FAFB;
    padding: 15px 60px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.logo .eco { color: #00A6A6; }
.logo .water { color: #1D3557; }

.main-nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.main-nav a {
    font-size: 16px;
    font-weight: 500;
    color: #1D3557;
    text-decoration: none;
    transition: 0.25s;
}

.main-nav a:hover,
.main-nav .active {
    color: #00A6A6;
}

.btn-login {
    background: #00A6A6;
    color: #fff;
    padding: 10px 22px;
    border-radius: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.25s;
}

.btn-login:hover {
    transform: scale(1.05);
}

/* =============== FOOTER =============== */
.footer {
    margin-top: 70px;
    background: #C7E7E7;
    padding: 60px 0;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
}

.footer-col a {
    display: block;
    color: #0B2A4A;
    font-size: 15px;
    text-decoration: none;
    margin-bottom: 8px;
    transition: 0.2s;
}

.footer-col h3 {
    color: #00A6A6;
    font-size: 20px;
}

.footer-col h4 {
    color: #0B2A4A;
    margin-bottom: 8px;
}

.footer-col p {
    font-size: 15px;
    margin: 4px 0;
}

/* ===== УНІВЕРСАЛЬНІ КНОПКИ ===== */
.btn-primary {
    padding: 12px 26px;
    border-radius: 20px;
    background: #00A6A6;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.25s;
    cursor: pointer;
}

.btn-primary:hover {
    transform: scale(1.05);
}

.btn-primary:active {
    transform: scale(0.97);
}

/* ===== УНІВЕРСАЛЬНІ ТЕКСТИ ===== */
h1, h2, h3, h4, p {
    margin-bottom: 15px;
}